.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}

#site-head.withCenteredImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  z-index: 0;
}

#site-head.withCenteredImage .vertical {
  position: relative;
  z-index: 1;
}

.post-holder:has(#contact) {
  background: url('../images/IMG_20220528_212503.jpg') no-repeat center center !important;
  background-size: cover !important;
}

.post-holder:has(#contact)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  z-index: 0;
}

#contact {
  position: relative;
  z-index: 1;
  background: transparent;
}
